<h2 class="right-side">Links Relacionados</h2>

<div id="page_content">
<p> Refer&ecirc;ncias sobre o protocolo de Comunica&ccedil;&atilde;o JSON-RPC</p>

<p> Vers&atilde;o utilizada no desenvolvimento desta API do Expresso &eacute; a 2.0 </p>

<ul>
	<li><a href='http://www.jsonrpc.org/specification' target="_blank">JSON-RPC 2.0 Specification</a></li>
	<li><a href='http://json-rpc.org/wiki/specification' target="_blank">JSON-RPC 1.0 Specification</a></li>
	<li><a href='http://xmlrpc-epi.sourceforge.net/specs/rfc.fault_codes.php' target="_blank">Specification for Fault Code Interoperability</a></li>
	<li><a href='http://en.wikipedia.org/wiki/JSON-RPC#Implementations' target="_blank">JSON-RPC Implementations</a></li>
</ul>

<p>Bibliotecas JavaScript Utilizadas</p>

<ul>
	<li><a href='http://www.jquery.com' target="_blank">JQuery-CORE</a></li>
	<li><a href='http://www.jqueryui.com' target="_blank">JQuery-UI</a></li>
	<li><a href='http://embeddedjs.com' target="_blank">EJS</a></li>
</ul>

<p>Linguagem de programa&ccedil;&atilde;o Server Side</p>
<ul>
	<li><a href='http://www.php.net' target="_blank">PHP</a></li>
</ul>

<p>Servidor WEB</p>
<ul>
	<li><a href='http://www.apache.org' target="_blank">Apache</a></li>
</ul>
</div>