/.project
/.settings
/.buildpath
/.classpath
/.htaccess
/bootstrap.php
/api/config/DB.php
/api/config/profileCreateUser.ini
/api/config/profileHomeServer.ini
/api/config/profileProtectedFields.ini
/api/old_versions/*/config/profileCreateUser.ini
/api/old_versions/*/config/profileHomeServer.ini
/header.inc.php
/security/crls/*.crl
/security/classes/*.crt
/security/classes/*.pem
/phpgwapi/templates/news/config_images.ini
*.orig
*.lang.js
hook_changepassword.ini.php
.DS_Store

!.empty
!.gitignore
