/.project
/.settings
/.buildpath
/.classpath
/.htaccess
/bootstrap.php
/api/config/profileCreateUser.ini
/api/config/profileHomeServer.ini
/api/old_versions/*/config/profileCreateUser.ini
/api/old_versions/*/config/profileHomeServer.ini
/header.inc.php
/security/temp/*.tmp
/phpgwapi/templates/news/config_images.ini
/phpgwapi/templates/news/src_images/*
*.log
*.orig
hook_changepassword.ini.php
.DS_Store

!.empty
!.gitignore
