[client.server]
CLIENT1 = http://expressovm1.com.br
CLIENT2 = http://expressovm2.com.br
CLIENT3 = http://expressovm3.com.br
DEFAULT = http://localhost

[documentation]
BASE_URL = http://localhost/api/rest

[misc.config]
USE_SLASH = 1