[ldap.server]
LDAP=localhost
BASE_DN='dc=com,dc=br'

[home.server]
OU_LDAP = http://ip/api/rest
DEFAULT = http://default/api/rest

[documentation]
BASE_URL = http://localhost/api/rest

[misc.config]
USE_SLASH = 1

[client.server]
CLIENT1 = http://expressovm1.com.br
CLIENT2 = http://expressovm2.com.br
CLIENTN = http://expressovm3.com.br
DEFAULT = http://localhost