<div style="text-align:center;height:250px;">
	<img src="templates/default/images/error_expresso.png">
	<h1 style="text-transform:uppercase;color:red"><%=get_lang('Attention')%></h1>
	<p><h2><%=get_lang('The Service of the Express Mail is temporarily unavailable')%>.</h2></p>
	<p><h2><%=get_lang('Please check back later')%>.</h2></p>
</div>