<div style="position:relative; overflow:hidden;margin-top:15px">
	<form method="POST" name="form_import" enctype="multipart/form-data">
		<input name="file_1" id="file_1" type="file" style="position:relative;text-align:right;-moz-opacity:0;filter:alpha(opacity:0);opacity:0;z-index:2;cursor:pointer">
			<div style="position: absolute; top: 0px; left: 0px; z-index: 1;">
				<input type="text" size="20" style="cursor:none"/>
				<span class="message_options_import"><font style="font-weight:bold;"><%=get_lang("Import")%></font></span>
			<div>
	</form>
</div>