<div style="height:198px;margin:5px;overflow:hidden;">
	<p>
		<h2 style="text-align:justify;">
			<img src="templates/default/images/motd/<%=type_message%>.png" style="vertical-align:middle"> <%=title%>
		</h2>
		<div style="border:1px dashed #cecece;height:109px;overflow-y:auto;">
			<p style="text-align:justify;margin:3px;">
				<%=message%>
			</p>
		</div>
	</p>
</div>
